<div class="card">
  <div class="card-header">
    <h4>Thêm Tag</h4>
  </div>
  <div class="card-body">
    <form method="POST" action="" style="width: 50%; margin-left: 20%">
      <div class="form-group" >
        <label for="TagName">Tên Tag</label>
        <input type="PostID" class="form-control" id="TenTag" name="TenTag" autofocus>
        <label for="T"
      </div>
      <a class="btn btn-success" href="/admin/QLTag" role="button" title="Back to List">
        <i class="fa fa-backward" aria-hidden="true"></i>
      </a>
      <input type="submit" value="Submit" class="btn btn-primary" formaction="/admin/QLTag/StartAdd">
    </form>
  </div>
</div>