{{#section 'title'}}
Trang chủ
{{/section}}

{{#section 'css'}}
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

<style>
  .font-Oswald {
    font-family: 'Oswald', sans-serif;
  }

  .a-unstyle,
  a.a-unstyle:hover,
  a.a-unstyle:focus {
    color: black;
    text-decoration: none;
  }
</style>
{{/section}}

<div class="container">
  <h3 class="mt-5 font-Oswald">Được quan tâm nhất trong tuần qua</h3>
  <hr>

  <div class="row">
    <a href="" class="a-unstyle">
      <div class="col-sm-12 col-md-4 mt-4">
        <div class="card w-100 h-100" style="width: 18rem;">
          <img class="card-img-top" src="public\images\2light_1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link"></a>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Chuyên mục:</strong> Thể thao</li>
              <li class="list-group-item"><strong>Ngày đăng:</strong> 01/07/2020</li>
            </ul>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="a-unstyle">
      <div class="col-sm-12 col-md-4 mt-4">
        <div class="card w-100 h-100" style="width: 18rem;">
          <img class="card-img-top" src="public\images\2light_2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link"></a>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Chuyên mục:</strong> Thể thao</li>
              <li class="list-group-item"><strong>Ngày đăng:</strong> 01/07/2020</li>
            </ul>
          </div>
        </div>
      </div>
    </a>
    <a href="" class="a-unstyle">
      <div class="col-sm-12 col-md-4 mt-4">
        <div class="card w-100 h-100" style="width: 18rem;">
          <img class="card-img-top" src="public\images\2light_3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link"></a>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Chuyên mục:</strong> Thể thao</li>
              <li class="list-group-item"><strong>Ngày đăng:</strong> 01/07/2020</li>
            </ul>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>