<div class="card">
    <div class="card-header">
        <h4>Sửa chuyên mục</h4>
    </div>
    <div class="card-body">
        <form method="POST" action="" style="width: 50%; margin-left: 20%">
            <div class="form-group">
                <label for="id">#</label>
                <input type="text" class="form-control" id="id" name="id" value="{{this.row.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="TenChuyenMuc">Tên chuyên mục</label>
                <input type="text" class="form-control" id="TenChuyenMuc" name="TenChuyenMuc" value="{{this.row.TenChuyenMuc}}" autofocus>
            </div>
            <input type="checkbox" id="attend" name="attend">Đây không phải chuyên mục con<br><br>
            <div class="form-group">
                <label for="ChuyenMucCha">Chọn chuyên mục cha</label>
                <select name="ChuyenMucCha" id="ChuyenMucCha">
                    {{#each this.ChuyenMucCha}}
                    <option value="{{id}}">{{TenChuyenMuc}}</option>
                    {{/each}}
                </select><br>
            </div>
            <a class="btn btn-success" href="/admin/QLChuyenMuc" role="button" title="Back to List">
                <i class="fa fa-backward" aria-hidden="true"></i>
            </a>
            <input type="submit" value="Submit" class="btn btn-primary" formaction="/admin/QLChuyenMuc/Startedit">
        </form>
    </div>
</div>