
{{#section 'js'}}
<script>
    $("#btn-resetpassword").on("click", function (e) {
    if ($("#retPassword").val() === '' || $("#nPassword").val() === '') {
      e.preventDefault();
      alert("Các ô không được để trống, vui lòng nhập!");
    }
    else {
        if($("#retPassword").val() !== $("#nPassword").val())
        {
            e.preventDefault();
            alert("Mật khẩu nhập lại không đúng, vui lòng nhập lại!");
        }
        else{
            e.preventDefault();
            $("#form-resetpassword").submit();
        }
    }
  });
</script>
{{/section}}
<div class="card">
    <div class="card-header">
        <h4>Đổi mật khẩu</h4>
    </div>
    <div class="card-body">

        <form method="POST" action="" style="width: 50%; margin-left: 20%" id="form-resetpassword">
            <div class="form-group">
                <input type="text" class="form-control" id="id" name="id" placeholder="" value="{{lcAuthUser.id}}" hidden>
            </div>
            <div class="form-group">
                <label for="HoTen">Mật khẩu mới</label>
                <input type="password" class="form-control" id="nPassword" name="nPassword" placeholder="Mật khẩu mới"
                    value="">
            </div>
            <div class="form-group">
                <label for="text">Nhập lại mật khẩu</label>
                <input type="password" class="form-control" id="retPassword" name="retPassword" placeholder="Nhập lại mật khẩu"
                    value="">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" id="btn-resetpassword">
        </form>
    </div>
</div>